MYSQL_USER=avnadmin
MYSQL_PASSWORD=YOUR_AIVEN_PASSWORD
MYSQL_HOST=foodcycle-ai-db-foodcycleai.a.aivencloud.com
MYSQL_PORT=26438
MYSQL_DATABASE=defaultdb
DEFAULT_ADMIN_EMAIL=admin@foodcycleai.com
DEFAULT_ADMIN_PASSWORD=change_this_password
