fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
PyMySQL
python-dotenv
scikit-learn
prophet
pandas
numpy
opencv-python-headless
ultralytics
joblib
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator
xgboost
matplotlib
seaborn
shap
python-multipart
fpdf2
openpyxl
