fastapi
uvicorn
SQLAlchemy
pydantic
pydantic-settings
PyMySQL
python-dotenv
scikit-learn
prophet
pandas
numpy
opencv-python
ultralytics
joblib
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator
xgboost
matplotlib
seaborn
shap
python-multipart
